.footer_wrap{
    width: 100%;
    height: 200px;
    background-color:#F56250;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer_wrap_content{
    width: 545px;
    height: 151px;

    display: flex;
    justify-content: space-between;
  
}

.footer_text_p{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.9px;
    font-family: "pretendard", sans-serif;
}
.footer_copy_text{
    margin-top: 15px;
    color: #FFFFFF;
}
.footer_logo{
    font-size: 26PX;
    font-weight: 700;
    line-height: 31.03PX;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
body{
margin: 0;
}