p {
    text-align: center;
} 
* {
    font-family: "pretendard", sans-serif;
  }

/* header style start */

.header-wrap{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
height: 200px;
}
.LOGO{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.03px;
    list-style: none;text-decoration: none;
    color: black;
}
.wrap_head{
    width: 1129px;
    height: 69px;
    background-color: #E8ECEF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    font-size: 32px;
    font-weight: 600;
}
.main_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }