p {
    text-align: center;
} 
* {
    font-family: "pretendard", sans-serif;
  }


.presentation_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-top: 30px;
    width: 500px;
    height: 337px;

    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    letter-spacing: 3%;
}

.wrap_link{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.71px;
    color: skyblue;
}

.protect_wrap{
    margin-top: 30px;
    width: 500px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    letter-spacing: 3%;
}

.monoPub_wrap{
    margin-top: 30px;
width: 500px;
text-align: center;
}
.monoPub_title{
    display: flex;
    justify-content: center;
}
.monoPub_red{
    color: red;
}
.line{
    width: 500px;
    border: orangered 2px solid;
    margin-top: 30px;
}
.ask_wrap{
    margin-top: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    letter-spacing: 3%;
}




