* {
    font-family: "pretendard", sans-serif;
  }
.presentation_wrap{
    width: 283px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 134px;
    align-items: center;
    text-align: center;
    font-size:14px ;
    font-weight: 400;
    font-family: "pretendard", sans-serif;
    line-height: 16.49px;
    margin-top: 30px;
    line-height: 16.71px;
}
.register_table{
    margin-top: 30px;
    height: 134px;
    width: 500px
    
}
.regiter_information{
    width: 436px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 137px;
    text-align: center;
    font-weight: 400px;
    font-size: 14px;
 
    line-height: 16.71px;
}
.register_button{
    height: 34px;
    width: 180px;
    background-color:  #F25555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.monoPub_wrap{
    margin-top: 30px;
width: 500px;
text-align: center;
}
.monoPub_title{
    display: flex;
    justify-content: center;
}
.monoPub_red{
    color: red;
}
.line{
    width: 500px;
    border: orangered 2px solid;
    margin-top: 50px;
}
.ask_wrap{
    margin-top: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    letter-spacing: 3%;
    color: 
    #5E5E5E;
}
.table_title{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.09px;
    border-bottom: 1px #F25555 solid;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #EFF1F0;
    }
    th,
    td {
    border: 1px solid #EFF1F0;
    padding: 8px;
    text-align: left;
    }
    th {
    background-color: #EFF1F0;
    }
    .td1{
        background-color: #EFF1F0;
        border-bottom:  1px solid #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 16.71px;
        letter-spacing: 3%;
        width:178px;
    }
    .td2{
        background-color: #EFF1F0;
        font-weight: 500;
        font-size: 14px;
        line-height: 16.71px;
        letter-spacing: 3%;
    }

    .td_date{
        font-weight: 300;
        font-size: 14px;
        line-height: 16.71px;
        letter-spacing: 3%;
    }
    .td_end{
        font-weight: 300;
        font-size: 14px;
        line-height: 16.71px;
        letter-spacing: 3%;
    }